---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Prices from '../components/Prices.astro';
---

<Layout title="Mobizen | Trung Tâm Chăm Sóc Di Động">
	<main>
		<Hero />
		<Prices />
	</main>
</Layout>

<style>

</style>
