---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Prices from '../components/Prices.astro';
import Contact from '../components/Contact.astro';
import Steps from '../components/Steps.astro';
import Policy from '../components/Policy.astro';
---

<Layout title="Mobizen | Trung Tâm Chăm Sóc Di Động">
	<main>
		<Hero />
		<Prices />
		<Contact />
		<Steps />
		<Policy />
	</main>
</Layout>

<style>

</style>
