<div class="py-10 text-center">
  <h2 class="text-3xl font-bold uppercase text-gradient mb-8">ĐẶT LỊCH NGAY</h2>
  <form class="max-w-lg mx-auto">
    <div class="mb-4">
      <input class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" type="text" placeholder="Họ và tên">
    </div>
    <div class="mb-4">
      <select class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500">
        <option value="" selected disabled hidden>Loại máy</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
    <div class="mb-4">
      <select class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500">
        <option value="" selected disabled hidden>Dịch vụ</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
    <div class="mb-4">
      <input class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" type="text" placeholder="Số điện thoại">
    </div>
    <div class="mb-4">
      <input class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" type="date" placeholder="Ngày hẹn">
    </div>
    <div class="mb-4">
      <textarea class="px-3 py-2 block w-full bg-gray-100 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" placeholder="Lời nhắn"></textarea>
    </div>
    <div class="flex items-center justify-center">
      <button class="px-10 py-2 text-xl text-white animation-scale bg-gradient rounded-full hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50" type="button">
        Đặt lịch ngay
      </button>
    </div>
  </form>
  <p class="mt-4 text-sm text-gray-500">Hỗ trợ Bảo Hành Từ 3 – 12 Tháng</p> 
</div>
