---
const policies = [
  {
    title: "Giao nhận trả máy tận nơi",
    image: "/assets/images/policy/maintenance.png"
  },
  {
    title: "Mượn điện thoại miễn phí",
    image: "/assets/images/policy/test.png"
  },
  {
    title: "Làm việc nhanh đúng hẹn",
    image: "/assets/images/policy/back-in-time.png"
  },
  {
    title: "Hoàn tiền 100% nếu không hài lòng",
    image: "/assets/images/policy/refund.png"
  },
]
---

<section class="mb-10">
  <h2 class="text-3xl text-center font-bold uppercase text-gradient mb-8">CHÍNH SÁCH TẠI Mobizen</h2>
  <div>
    {policies.map(policy => (
      <div class="flex items-center px-4 py-6 even:bg-gray-200">
        <img class="w-12 h-12" src={policy.image} alt={policy.title} loading="lazy">
        <h3 class="ml-4 font-semibold text-lg">{policy.title}</h3>
      </div>
    ))}
  </div>
</section>
