---
const policies = [
  {
    title: "Giao nhận trả máy tận nơi",
    image: "test,"
  },
  {
    title: "Mượn điện thoại miễn phí",
    image: "test,"
  },
  {
    title: "Làm việc nhanh đúng hẹn",
    image: "test,"
  },
  {
    title: "Hoàn tiền 100% nếu không hài lòng",
    image: "test,"
  },
]
---

<section>
  <h2 class="text-3xl text-center font-bold uppercase text-gradient mb-8">CHÍNH SÁCH TẠI Mobizen</h2>
</section>
