---
import PriceItem from "./PriceItem.astro";

const prices = await Astro.glob('../_posts/prices/*.md');
---

<section>
  {prices.map((item, index) => (
    <PriceItem data={item} index={index} />
  ))}
</section>
